<section class="dark" id="about" style="background-color: @PrimaryColor;">
    <h2>About Us</h2>
    <br/>
    @if (property is null)
    {
        <h2>Loading...</h2>
    }
    else
    {
        <h2 style="color:var(--point-green)">@property.Company</h2>
    }
    @if (members is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="about-member">
            @foreach (var mem in members)
            {
                <div class="box">
                    <img src="@(mem.Src)" alt="@(mem.Alt)" width="260" height="260" />
                    <div><span class="small">@mem.Title</span> <span class="small" style="color:var(--point-green)">@mem.Name</span></div>
                    <p class="small" style="white-space: nowrap;">@mem.Role</p>
                </div>
            }
        </div>
    }
    
    <div class="about-content">
    @if (aboutMe is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p class="large">@aboutMe.Description</p>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required MemberService MemberService { get; set; }

    [Parameter]
    public string PrimaryColor { get; set; } = string.Empty;
    
    private SiteProperties? property;
    private AboutMe? aboutMe;
    private List<Member>? members;

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");
        aboutMe = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        members = await MemberService.GetListAsync();
    }
}
