<section class="dark" id="home"  style="background-color: @PrimaryColor;">
    @* @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    } *@
<iframe 
  class="bg-video"
  src="https://www.youtube.com/embed/ZuPX2S99tBM?autoplay=1&mute=1&controls=0&loop=1&list=PL47lIKZ0GAWT_lVyTonOh8hqQMpV2JnBs"
  frameBorder="0"
  allowFullScreen
  allow="autoplay; encrypted-media"
/>
    <div id="home-title">
    @if (property is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div style="text-align: center; left: 0; right: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img class="home-img" src="images/T_CI_A01.PNG" />
        </div>
        @* <h1>@property.Name</h1> *@
        @* <h2>@property.Title</h2> *@
    }
    </div>

    <div style="position: absolute; top: 30%; left: 0; right: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img src="images/Wishlist.png" style="height: 30rem; width: auto;" />
        <a href="https://store.steampowered.com/app/4582730/THE_AEON_FALL" target="_blank" style="margin-top: -60px;">
            <img src="images/Steam_01.png" style="width: 12rem; height: auto; " />
        </a>
    </div>
    @if (property is null)
    {
            
    }
    else
    {
        <div style="position: absolute; bottom: 8rem; left: 0; right: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h3 style="color:var(--point-green);">@property.Rights</h3>
            <a href="#portfolio" target="_top">
                <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem; margin-top: 10px;" alt="scroll down" />
            </a>
        </div>
        <div style="position: absolute; bottom: 16rem; left: 50%; transform:translateX(400px); display: flex; flex-direction: row; max-width: 28rem;">
            <img src="images/Epic_MegaGrants_Recipient_logo.png" style="width: 10rem; height: auto;" />
            <div style="margin: 10px">
                <h3_left style="color:var(--point-green); flex-basis: 40px;">@property.EpicMegaGrants1</h3_left>
                <p class="small" style="margin: 10px" >@property.EpicMegaGrants2</p>
            </div>
        </div>
    }
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }
    
    [Parameter]
    public string PrimaryColor { get; set; } = string.Empty;

    private SiteProperties? property;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");
	    hero = await HeroImageService.GetHeroAsync(img => img.Name is "home");
    }
}
